/*
 * General styles
 */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('../images/background.jpg');
    background-size: 100% auto;
    font-family: 'myFont', Helvetica, sans-serif;
}

#main-container {
    width: 100%;
    text-align: center;
}

.blue-box {
    background-color: rgba(226, 250, 255, 0.7);
    border: solid 2px dodgerblue;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.transparent-background {
    background-color: rgba(100, 100, 100, 0.2);
}

.round-box-8px {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#main-footer {
    padding-top: 5px;
    position:fixed;
    left:5%;
    bottom:0px;
    height:30px;
    width:90%;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    -webkit-animation: footer-anime 0.5s;
    -moz-animation: footer-anime 0.5s;
    -ms-animation: footer-anime 0.5s;
    -o-animation: footer-anime 0.5s;
    animation: footer-anime 0.5s;
}

#copyright {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: royalblue;
    font-weight: bold;
}

@keyframes footer-anime {
    from { height: 0; }
    to   { height: 30px; }
}
@-moz-keyframes footer-anime {
    from { height: 0; }
    to   { height: 30px; }
}
@-webkit-keyframes footer-anime {
    from { height: 0; }
    to   { height: 30px; }
}
@-ms-keyframes footer-anime {
    from { height: 0; }
    to   { height: 30px; }
}

@media handheld and (max-width: 768px) {
    #main-footer {
        display: none;
    }
}

@media handheld and (orientation: landscape) {
    #main-footer {
        display: none;
    }
}

